{{ define "main" }}
  <main class="main algonews">
    <div class="container-fluid">
      <h1 class="page-title">{{ .Title }}</h1><br>
      {{ with .Params.toc }}{{ $.TableOfContents }}<br><br>{{ end }}
      <article class="article">
        {{ .Content }}
      </article>
        <ul>
          {{ range .Pages }}
            <li><a href="{{ .Permalink }}">{{.Title}}</a></li>
          {{ end }}
        </ul>
      {{ partial "social-share" . }}
    </div>
  </main>
  {{ partial "top-btn" . }}
{{ end }}
