{{ define "main" }}
  <main class="main algonews">
    <div class="container-fluid">
      <h1 class="page-title">{{ .Title }}</h1><br>
      <article class="article">
        <p class="lead text-center"><em>{{ i18n "algonews-slogan" }}</em></p>
        {{ partial "newsletter-form" . }}
        <hr style="margin-top: 2rem; margin-bottom: 2rem;">
        <div class="alert alert-warning text-center" role="alert">
          Its content does not necessarily reflect the official position of the Algosphere Alliance
        </div>
        <div class="alert alert-info text-center" role="alert">
          You may have a look at the <a href="https://docs.google.com/document/d/1DBa1pEdACvb7VH4y945ULfaAWslGkpCQDZjINOb8l6I/edit">issue under preparation</a>
        </div>
        {{ .Content }}
        <br>
        <div class="table-responsive">
          <table class="table table-sm">
            <thead class="thead-light">
              <tr>
                <th>2020</th>
              </tr>
            </thead>
            <tbody>
            {{ range where .Site.Data.algonewsold "year" "2020" }}
              <tr>
                <td><a href="{{ .url }}">{{ .name }}</a>
                {{ if .selection1name }}
                  <br><a href="{{ .selection1url }}" style="padding-left: 2rem;">{{ .selection1name }}</a>
                {{ end }}
                </td>
              </tr>
            {{ end }}
            </tbody>
            <thead class="thead-light">
              <tr>
                <th>2019</th>
              </tr>
            </thead>
            <tbody>
            {{ range where .Site.Data.algonewsold "year" "2019" }}
              <tr>
                <td><a href="{{ .url }}">{{ .name }}</a>
                {{ if .selection1name }}
                  <br><a href="{{ .selection1url }}" style="padding-left: 2rem;">{{ .selection1name }}</a>
                {{ end }}
                </td>
              </tr>
            {{ end }}
            </tbody>
            <thead class="thead-light">
              <tr>
                <th>2018</th>
              </tr>
            </thead>
            <tbody>
            {{ range where .Site.Data.algonewsold "year" "2018" }}
              <tr>
                <td><a href="{{ .url }}">{{ .name }}</a></td>
              </tr>
            {{ end }}
            </tbody>
            <thead class="thead-light">
              <tr>
                <th>2017</th>
              </tr>
            </thead>
            <tbody>
            {{ range where .Site.Data.algonewsold "year" "2017" }}
              <tr>
                <td><a href="{{ .url }}">{{ .name }}</a></td>
              </tr>
            {{ end }}
            </tbody>
            <thead class="thead-light">
              <tr>
                <th>2016</th>
              </tr>
            </thead>
            <tbody>
            {{ range where .Site.Data.algonewsold "year" "2016" }}
              <tr>
                <td><a href="{{ .url }}">{{ .name }}</a></td>
              </tr>
            {{ end }}
            </tbody>
            <thead class="thead-light">
              <tr>
                <th>2015</th>
              </tr>
            </thead>
            <tbody>
            {{ range where .Site.Data.algonewsold "year" "2015" }}
              <tr>
                <td><a href="{{ .url }}">{{ .name }}</a></td>
              </tr>
            {{ end }}
            </tbody>
            <thead class="thead-light">
              <tr>
                <th>2014</th>
              </tr>
            </thead>
            <tbody>
            {{ range where .Site.Data.algonewsold "year" "2014" }}
              <tr>
                <td><a href="{{ .url }}">{{ .name }}</a></td>
              </tr>
            {{ end }}
            </tbody>
          </table>
        </div>
      </article>
      {{ partial "social-share" . }}
    </div>
  </main>
  {{ partial "top-btn" . }}
{{ end }}
