{{ define "main" }}
  <main class="main algonews">
    <div class="container-fluid">
      {{ partial "back-btn" . }}
      <h1 class="page-title">{{ .Title }}</h1><br>
      {{ with .Params.toc }}{{ $.TableOfContents }}<br><br>{{ end }}
      <article class="article">
        <p class="text-center lead"><em>{{ i18n "algonews-slogan" }}</em></p>
        {{ partial "newsletter-form" . }}
        <hr style="margin-top: 2.5rem; margin-bottom: 2.5rem;">
        <div class="alert alert-warning" role="alert">
          {{ i18n "algonews-warning" }}
        </div>
        {{ .Content }}
        <br>
        <div class="table-responsive">
          <table class="table table-sm">
            {{ $scratch := newScratch }}
              {{ range .Site.Data.algonewsold }}
                {{ $scratch.Add "years" (slice .year) }}
              {{ end }}
            {{ $years := sort ($scratch.Get "years" | uniq) "value" "desc" }}
            {{ range $years }}
              <thead class="thead-light">
                <tr>
                  <th>{{ . }}</th>
                </tr>
              </thead>
              <tbody>
              {{ range where $.Site.Data.algonewsold "year" . }}
                <tr>
                  <td><a href="{{ .url }}">{{ .name }}</a>
                    {{ if .selection1name }}
                      {{ if (eq $.Site.Language.Lang "fr") }}
                        <br><a href="{{ .selection1urlfr }}" style="padding-left: 2rem;">{{ .selection1namefr }}</a>
                      {{ else }}
                        <br><a href="{{ .selection1url }}" style="padding-left: 2rem;">{{ .selection1name }}</a>
                      {{ end }}
                    {{ end }}
                  </td>
                </tr>
              {{ end }}
              </tbody>
            {{ end }}
          </table>
        </div>
      </article>
      {{ partial "social-share" . }}
    </div>
  </main>
  {{ partial "top-btn" . }}
{{ end }}
