{{ define "main" }}
  <main class="main">
    <div class="container-fluid">
      <h1 class="page-title">{{ .Title }}</h1><br>
      {{ with .Params.toc }}{{ $.TableOfContents }}<br><br>{{ end }}
      <article class="article">
        {{ .Content }}
        <br>
        <div class="table-responsive">
          <table class="table table-striped">
            <tbody>
              {{ with index .Site.Data.algoconsulting .Site.Language.Lang }}
                {{ range .algoconsulting }}
                <tr>
                  <td><a href="{{ .website }}">{{ .name }}</a></td>
                </tr>
                {{ end }}
              {{ end }}
          </tbody>
          </table>
        </div>
      </article>
      {{ partial "social-share" . }}
    </div>
  </main>
  {{ partial "top-btn" . }}
{{ end }}
