{{ define "main" }}
  <main class="main">
    <div class="container-fluid">
      {{ partial "back-btn" . }}
      <h1 class="page-title">{{ .Title }}</h1><br>
      {{ with .Params.toc }}{{ $.TableOfContents }}<br><br>{{ end }}
      <article class="article">

        <h1>{{ i18n "people" }} <span class="badge badge-pill badge-primary-alt">{{ .Site.Data.allies.people.counter }}</span></h1>
        <iframe src="https://www.google.com/maps/d/embed?mid=1yM7SAcV1zJQe3REhjYTwZcrDT70" width="640" height="480"></iframe>

        <h1>{{ i18n "organizations" }} <span class="badge badge-pill badge-primary-alt">{{ len (index .Site.Data.allies.organizations .Site.Language.Lang).organizations.organizations }}</span></h1>
        <div class="alert alert-info" role="alert">
          <a href="{{ .Params.guidelink }}">{{ i18n "organizations-guide" }}</a>
        </div>
        {{ .Content }}
        <div class="table-responsive">
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">{{ i18n "organizations-name" }}</th>
                <th scope="col">{{ i18n "organizations-mission" }}</th>
                <th scope="col">{{ i18n "organizations-zone" }}</th>
              </tr>
            </thead>
            <tbody>
              {{ with index .Site.Data.allies.organizations .Site.Language.Lang }}
                {{ range .organizations.organizations }}
                <tr>
                  <td><a href="{{ .website }}">{{ .name }}</a></td>
                  <td>{{ .mission }}</td>
                  {{ if .zone_link }}
                  <td><a href="{{ .zone_link }}">{{ .zone }}</a></td>
                  {{ else }}
                  <td>{{ .zone }}</td>
                  {{ end }}
                </tr>
                {{ end }}
              {{ end }}
          </tbody>
          </table>
        </div>

      </article>
    {{ partial "social-share" . }}
    </div>
  </main>
  {{ partial "top-btn" . }}
{{ end }}
