{{ define "main" }}
  <main class="main">
    <div class="container-fluid">
      <h1 class="page-title">{{ .Title }}</h1><br>
      {{ with .Params.toc }}
        {{ $.TableOfContents }}<br><br>
      {{ end }}
      <article class="article">
        {{ .Content }}
        <nav class="nav nav-pills nav-justified nav-positions" role="tablist">
          <!-- including fix for german url-id -->
          <a class="nav-item nav-link active" id="fundamental-tab" data-toggle="tab" href="#{{ replace (i18n "positions-fundamental" | anchorize) "ä" "a" }}" role="tab" aria-controls="{{ i18n "positions-fundamental" | anchorize }}" aria-selected="true">{{ i18n "positions-fundamental" }}</a>
          <a class="nav-item nav-link" id="specific-tab" data-toggle="tab" href="#{{ i18n "positions-specific" | anchorize }}" role="tab" aria-controls="{{ i18n "positions-specific" | anchorize }}" aria-selected="false">{{ i18n "positions-specific" }}</a>
        </nav>
        <div class="tab-content">
          <!-- including fix for german url-id -->
          <div class="tab-pane active fade show" id="{{ replace (i18n "positions-fundamental" | anchorize) "ä" "a" }}" role="tabpanel" aria-labelledby="fundamental-tab">
            <div class="accordion" id="accordionsfundamental">
            {{ range $index, $value := where .Pages ".Params.scope" "fundamental" }}
            {{ $slug := .Title | anchorize }}
              <div class="card">
                <div class="card-header" id="heading{{ $slug }}">
                  <a href="#{{ $slug }}" role="button" data-toggle="collapse" data-target="#{{ $slug }}" aria-expanded="true" aria-controls="{{ $slug }}">{{ .Title }}</a>
                </div>
                <div id="{{ $slug }}" class="collapse{{ if (eq $index 0) }} show{{ end }}" aria-labelledby="heading{{ $slug }}" data-parent="#accordionsfundamental">
                  <div class="card-body">
                    {{ .Summary }}
                    <a class="btn btn-primary-alt btn-block" href="{{ .RelPermalink }}" role="button">{{ i18n "read" }}</a>
                  </div>
                </div>
              </div>
            {{ end }}
            </div>
          </div>
          <div class="tab-pane fade" id="{{ i18n "positions-specific" | anchorize }}" role="tabpanel" aria-labelledby="specific-tab">
            <div class="accordion" id="accordionsspecific">
            {{ range $index, $value := where .Pages ".Params.scope" "specific" }}
            {{ $slug := .Title | anchorize }}
              <div class="card">
                <div class="card-header" id="heading{{ $slug }}">
                  <a href="#{{ $slug }}" role="button" data-toggle="collapse" data-target="#{{ $slug }}" aria-expanded="true" aria-controls="{{ $slug }}">{{ .Title }}</a>
                </div>
                <div id="{{ $slug }}" class="collapse{{ if (eq $index 0) }} show{{ end }}" aria-labelledby="heading{{ $slug }}" data-parent="#accordionsspecific">
                  <div class="card-body">
                    {{ .Summary }}
                    <a class="btn btn-primary-alt btn-block" href="{{ .RelPermalink }}" role="button">{{ i18n "read" }}</a>
                  </div>
                </div>
              </div>
            {{ end }}
            </div>
          </div>
        </div>
      </article>
      {{ partial "social-share" . }}
    </div>
  </main>
  {{ partial "top-btn" . }}
{{ end }}
