{{ define "main" }}
  <main class="main tiles-2">
    <div class="container-fluid">
      <h1 class="page-title">{{ .Title }}</h1><br>
      <div class="cards">
        {{ .Content }}
          {{ range .Pages }}
            <div class="card">
              <a href="{{ .Permalink }}" class="text-dark">
                <div class="card-body">
                  {{ with .Params.icon }}
                    {{ $icon := . }}
                    {{ $icon = print "icons/" $icon ".svg" }}
                    {{ (resources.Get $icon).Content | safeHTML }}
                  {{ end }}
                  <h5 class="card-title">{{ .Title }}</h5>
                </div>
              </a>
            </div>
          {{ end }}
      </div>
      {{ partial "social-share" . }}
    </div>
  </main>
  {{ partial "top-btn" . }}
{{ end }}
