{{ define "main" }}
  <main class="main">
    <div class="container-fluid">
      <h1 class="page-title">{{ .Title }}</h1>
      {{ with .Params.subtitle }}
        <h2 class="page-subtitle">{{ . }}</h2>
      {{ end }}
      <br>
      {{ with .Params.toc }}
        {{ $.TableOfContents }}<br><br>
      {{ end }}
      <article class="article DocSearch-content">
        {{ .Content }}
      </article>
      {{ partial "social-share" . }}
    </div>
  </main>
  {{ partial "top-btn" . }}
{{ end }}
