{{ define "main" }}
  <main class="main tiles">
    <div class="container-fluid">
      <h1 class="page-title">{{ .Title }}</h1><br>
      {{ with .Params.toc }}{{ $.TableOfContents }}<br><br>{{ end }}
      <article class="article">
        <p class="lead text-center"><em>{{ i18n "algonews-slogan" }}</em></p>
        {{ .Content }}
      </article>
      <div class="cards">
        {{ with index .Site.Data.portal.algonews .Site.Language.Lang }}
          {{ range .algonews }}
          <div class="card card-width-auto">
            <a href="{{ .URL }}" class="text-dark no-external-icon">
              <div class="card-body">
                {{ with .Icon }}
                  {{ $icon := . }}
                  {{ $icon = print "icons/" $icon ".svg" }}
                  {{ (resources.Get $icon).Content | safeHTML }}
                {{ end }}
                <h5 class="card-title">{{ .Name }}</h5>
              </div>
            </a>
          </div>
          {{ end }}
        {{ end }}
      </div>
      {{ partial "social-share" . }}
    </div>
  </main>
  {{ partial "top-btn" . }}
{{ end }}
