{{ define "main" }}
  <main class="main tiles">
    <div class="container-fluid">
      {{ partial "back-btn" . }}
      <h1 class="page-title">{{ .Title }}</h1><br>
      {{ with .Params.toc }}{{ $.TableOfContents }}<br><br>{{ end }}
      <article class="article">
        <div class="alert alert-info" role="alert">
          <a href="" data-toggle="modal" data-target="#modalCommunicationCouncilContext">{{ i18n "cocom-notice" }}</a>
        </div>
        <div class="modal fade" id="modalCommunicationCouncilContext" tabindex="-1" role="dialog" aria-labelledby="modalRegisterMoreInformation" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-body">
                {{ .Content }}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ i18n "close" }}</button>
              </div>
            </div>
          </div>
        </div>
      </article>
      <div class="cards">
        {{ with index .Site.Data.portal.communicationcouncil .Site.Language.Lang }}
          {{ range .feature }}
          <div class="card card-width-auto">
            <a href="{{ .URL }}" class="text-dark no-external-icon">
              <div class="card-body">
                {{ with .Icon }}
                  {{ $icon := . }}
                  {{ $icon = print "icons/" $icon ".svg" }}
                  {{ (resources.Get $icon).Content | safeHTML }}
                {{ end }}
                <h5 class="card-title">{{ .Name }}</h5>
              </div>
            </a>
          </div>
          {{ end }}
        {{ end }}
      </div>
      <div class="card">
        <ul class="list-group list-group-flush">
          {{ with index .Site.Data.portal.communicationcouncil .Site.Language.Lang }}
            {{ range .other }}
              <a class="list-group-item list-group-item-action no-external-icon" href="{{ .URL }}">{{ (resources.Get "icons/file-earmark-text.svg").Content | safeHTML }} {{ .Name }}</a>
            {{ end }}
          {{ end }}
        </ul>
      </div>
      {{ partial "social-share" . }}
    </div>
  </main>
  {{ partial "top-btn" . }}
{{ end }}
