{{ define "main" }}
  <main class="main">
    <div class="container-fluid">
      {{ partial "back-btn" . }}
      <h1 class="page-title">{{ .Title }}</h1><br>
      {{ with .Params.toc }}{{ $.TableOfContents }}<br><br>{{ end }}
      <article class="article">
        {{ .Content }}
        <div class="card">
          <ul class="list-group list-group-flush">
            {{ with index .Site.Data.portal.thealliance .Site.Language.Lang }}
              {{ range .thealliance }}
                <a class="list-group-item list-group-item-action" href="{{ .URL }}">{{ (resources.Get "icons/file-earmark-text.svg").Content | safeHTML }} {{ .Name }}</a>
              {{ end }}
            {{ end }}
          </ul>
        </div>
      </article>
      {{ partial "social-share" . }}
    </div>
  </main>
  {{ partial "top-btn" . }}
{{ end }}
