.dropdown-item {
  padding: .5rem 1.5rem;
}

a.dropdown-item.active,
a.dropdown-item:active,
.dropdown a.dropdown-item.active,
.dropdown a.dropdown-item:active {
  background-color: #88b1db;
}

.dropdown-toggle::after {
  content: "";
  display: inline-block;
	margin-left: .45em;
  vertical-align: 0.2em;
	border: solid $body-color;
  border-width: 0 2px 2px 0;
  padding: 3px;
  transform: rotate(45deg);
}
