.dropdown-item {
  padding: .5rem 1.5rem;
}

a.dropdown-item.active,
a.dropdown-item:active,
.dropdown a.dropdown-item.active,
.dropdown a.dropdown-item:active {
  background-color: #88b1db;
}

.dropdown-toggle::after {
  content: var(--dropdown-toggle-icon);
  border: none;
  margin-left: .35em;
  margin-top: .25em;
  vertical-align: -.15em;
}
