.footer {
  color: $gray-500;
  background-color: $gray-900;

  .footer-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    > div {
      padding-top: 2.5em;

      &:last-child {
        padding-bottom: 2.5em;
      }
    }
  }

  .footer-sub {
    display: flex;
    justify-content: center;
    color: $gray-600;

    > div {
      padding-top: 1.5em;
      padding-bottom: 1.5em;

      a {
        color: $gray-500;

        &:hover {
          color: $gray-400;
        }
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .footer {
    .footer-main {
      flex-direction: row;
      justify-content: space-between;
      text-align: initial;
      align-items: initial;

      > div {
        padding-bottom: 2.5em;
      }
    }
  }
}
