.footer {
  color: $gray-500;
  background-color: $gray-900;

  .footer-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    > div {
      padding-top: 2.5em;

      &:last-child {
        padding-bottom: 2.5em;
      }
    }

    form {
      display: flex;
      flex-direction: column;

      .form-group {
        margin-bottom: .5em;
      }

      input {
        text-align: center;
      }
    }
  }

  .footer-sub {
    display: flex;
    justify-content: center;
    color: $gray-600;

    > div {
      padding-top: 1.5em;
      padding-bottom: 1.5em;

      a {
        color: $gray-500;

        &:hover {
          color: $gray-400;
        }
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .footer {
    .footer-main {
      flex-direction: row;
      justify-content: space-between;
      text-align: initial;
      align-items: initial;

      form {
        flex-direction: row;

        .form-group {
          margin-bottom: 0;
        }

        > * + * {
          margin-left: .5em;
        }

        #mce-responses {
          margin-left: 0;
        }

        input {
          text-align: initial;
        }
      }

      > div {
        padding-bottom: 2.5em;
      }

/*       .standout {
        position: relative;
        top: -5em;
        padding-left: 2em;
        padding-right: 2em;
        background-color: $gray-900;
        border: 1px solid $body-bg;
        // border-radius: .25em;
      } */
    }
  }
}
