.footnote-badge {
  vertical-align: super;
  margin-left: .3em;
  font-size: 0.7rem;
  color: #fff !important; // fix badge link with no href
}

.footnote-ref .bi-link-45deg {
  font-size: 1.3rem;
}

.footnote-ref:not(.footnote-badge) {
  content: "";
}

.footnotes {
  font-size: .9rem;
}

.footnote-backref {
  display: none;
}
