.header {
  display: none;
  background-color: $white;
  padding-top: .5rem;
  padding-bottom: 1.5rem;
  padding-right: 1rem;
  padding-left: 1rem;

  .container-fluid {
    display: flex;
    justify-content: space-between;

    .header-brand {
      display: flex;
      color: $body-color;

      .brand-image-link {
        display: flex;
        align-items: center;
      }

      .brand-image {
        margin-right: 1rem;
      }

      .brand-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #db8888;
        // $body-color
        // #88b1db
        // #db8888

        .brand-title {
          margin-bottom: .2em;
          text-decoration: underline solid rgba(0, 0, 0, 0.1) .2em;
        }

        .brand-subtitle {
          margin: 0;
        }
      }
    }

    .header-meta {
      display: flex;
      text-align: right;
      flex-direction: column;
      justify-content: space-around;

      > * {
        padding-bottom: .75em;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .header {
    display: block;
  }
}
