.header {
  display: none;
  background-color: $white;
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-right: 1rem;
  padding-left: 1rem;

  .container-fluid {
    display: flex;
    justify-content: space-between;

    .header-brand {
      display: flex;
      color: $body-color;

      .brand-image-link {
        display: flex;
        align-items: center;
      }

      .brand-image {
        margin-right: 1rem;
      }

      .brand-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #88b1db;
        font-family: 'Comfortaa', sans-serif;

        .brand-title {
          margin-bottom: .2em;
          text-decoration-line: underline;
          text-decoration-style: solid;
          text-decoration-color: rgba(0, 0, 0, 0.1);
          text-decoration-thickness: .2em;
        }

        .brand-subtitle {
          margin: 0;
        }
      }
    }

    .header-meta {
      display: flex;
      flex-direction: row;
      align-items: flex-start;

      .dropdown-menu-right {
        margin-right: -1px;
      }

      > * + * {
        padding-left: 1em;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .header {
    display: block;
  }
}
