.media {
  flex-direction: column;
  margin-top: 1em;
  margin-bottom: 1em;
  align-items: center;

  div {
    min-width: 75%;
  }

  &.media-image-left {
    div {
      margin-top: 1em;
    }
  }

  &.media-image-right {
    div {
      margin-bottom: 1em;
    }
  }
}

@include media-breakpoint-up(lg) {
  .media {
    flex-direction: row;
    align-items: flex-start;

    &.media-image-left {
      div {
        margin-top: 0;
        margin-left: 1em;
      }
    }

    &.media-image-right {
      div {
        margin-right: 1em;
        margin-bottom: 0;
      }
    }
  }
}
