.nav-main {
  .navbar-brand {
    padding: 0;
    color: #88b1db;

    &:hover {
      color: #88b1db;
    }

    img {
      margin-right: .5rem;
      vertical-align: top;
    }
  }

  .navbar-collapse {
    justify-content: space-between;

    .nav-left {
      flex-grow: 1;
      flex-wrap: wrap;
      justify-content: center;

      a,
      .dropdown a {
        color: #db8888;

        &:hover,
        &:focus {
          color: darken($color: #db8888, $amount: 15);
        }

        &.active {
          color: #db8888;
          font-weight: 600;
          text-decoration: underline solid rgba(0, 0, 0, 0.1) 0.2em;
        }

        &.dropdown-toggle::after {
          vertical-align: 0.15em;
        }

        &.dropdown-item.active,
        &.dropdown-item:active {
          color: #fff;
          background-color: #db8888;
        }
      }
    }
  }

  .nav-right > *,
  .meta > * {
    margin-top: .5rem;
  }

  .meta {
    display: flex;
    flex-direction: column;
    margin-top: .5rem;
  }

  .dropdown .btn {
    width: 100%;
  }
}

@include media-breakpoint-up(lg) {
  .nav-main {
    .navbar-brand {
      display: none;
    }

    .nav-link {
      font-size: 1.05em;
      padding-left: .75em !important;
      padding-right: .75em !important;
    }

    .nav-right {
      display: ruby;
      margin-left: 1em;
    }

    .nav-right > *,
    .meta > * {
      margin-top: initial;
    }

    .meta {
      display: none;
      margin-top: initial;
    }
  }
}
