.nav-main {
  .container-fluid {
    align-items: stretch;
  }

  .navbar-brand {
    display: flex;
    color: $body-color;
    padding-top: 0;
    padding-bottom: 0;

    .brand-image-link {
      display: flex;
      align-items: center;

      .brand-image {
        width: 30px;
        height: 29px;
        margin-right: 1rem;
      }

      .brand-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: 'Comfortaa', sans-serif;
        // color: #88b1db; old

        .brand-title {
          color: #09285D;
          font-size: 1em;
          margin-bottom: .2em;
          text-decoration-line: underline;
          text-decoration-style: solid;
          text-decoration-color: rgba(0, 0, 0, 0.1);
          text-decoration-thickness: .2em;
        }

        .brand-subtitle {
          color: $gray-500;
          display: none;
        }
      }
    }
  }

  .navbar-collapse {
    justify-content: space-between;
    flex-grow: 0;
    align-items: stretch;

    svg.bi {
      width: initial;
      margin-left: .2em;
    }

    i.material-icons {
      margin-right: .2em;
    }

    .nav-left {
      flex-grow: 1;
      flex-wrap: wrap;

      a,
      .dropdown a {
        &.active {
          color: rgba(0, 0, 0, 0.7);
          font-weight: 600;
          text-decoration-line: underline;
          text-decoration-style: solid;
          text-decoration-color: rgba(0, 0, 0, 0.1);
          text-decoration-thickness: .2em;
        }

        // &.dropdown-item.active {
        //   // color: initial;
        //   background-color: $light;
        //   font-weight: initial;
        //   text-decoration: none;
        // }

        &.dropdown-item:active,
        &.dropdown-item.active {
          color: #fff;
          background-color: #88b1db;
          font-weight: initial;
          text-decoration: none;
        }
      }
    }
  }

  .nav-right {
    flex-shrink: 0;
    margin-top: .5rem;

    > * + * {
      margin-top: .5rem;
    }

    .nav-right-desktop {
      display: none;
    }

    svg.bi {
      margin-top: .15em;
    }

    i.material-icons {
      margin-top: .15em;
    }
  }

  .meta {
    display: flex;
    flex-direction: column;
    margin-top: .5rem;

    > * + * {
      margin-top: .5rem;
    }
  }
}

@include media-breakpoint-up(xl) {
  .nav-main {
    padding: 0;
    position: sticky;
    top: 0;
    z-index: 1020;

    .container-fluid {
      padding: 0;
    }

    .navbar-brand {
      .brand-image-link {
        padding-left: 1em;
        padding-right: 1em;
        padding-top: .5em;
        padding-bottom: .5em;

        .brand-image {
          width: 68.8px;
          height: 68.8px;
          margin-right: 1rem;
        }

        .brand-text {
          .brand-title {
            font-size: 2rem;
          }

          .brand-subtitle {
            display: flex;
            font-size: 1.25rem;
          }
        }
      }
    }

    .navbar-collapse {
      .nav-item {
        display: flex;
        align-items: center;
      }

      .nav-link {
        font-size: 1.05em;
        padding-left: .75em !important;
        padding-right: .75em !important;
      }

      .nav-left {
      // à refactoriser
        .nav-link:hover:not(.active) {
          color: rgba(0, 0, 0, 0.5);
        }

        .dropdown.show .nav-link.active {
          color: rgba(0, 0, 0, 0.7);
        }

        .dropdown.show .nav-link:not(.active) {
          color: rgba(0, 0, 0, 0.5);
        }

        a,
        .dropdown a {
          &:hover,
          &:focus {
            background-color: $light;
            color: rgba(0, 0, 0, 0.5);
          }

          &.active {
            color: rgba(0, 0, 0, 0.7);
            font-weight: 600;
            text-decoration: none;
            background-color: $light;
          }
        }

        .dropdown-menu a:hover,
        .dropdown-menu a:focus {
          color: rgba(0, 0, 0, 0.9);
        }
      }

      .nav-right {
        margin-left: 1em;
        margin-top: initial;

        > a {
          display: none;
        }

        .btn-primary-alt,
        .btn-success {
          max-width: 125px;
        }

        .language-switcher-mobile {
          display: none;
        }

        .nav-right-desktop {
          display: flex;
        }
      }

      .nav-right > *,
      .meta > * {
        margin-top: initial;
      }

      .meta {
        display: none;
        margin-top: initial;
      }
    }

    .btn {
      display: flex;
      align-items: center;
    }

    .dropdown {
      display: flex;
      align-items: stretch;
    }
  }
}
