.newsletter-form {
  display: flex;
  flex-direction: column;

  .form-group {
    margin-bottom: .5em;
  }

  input {
    text-align: center;
  }
}

.algonews {
  .newsletter-form {
    justify-content: center;
  }
}

@include media-breakpoint-up(lg) {
  .newsletter-form {
    flex-direction: row;

    .form-group {
      margin-bottom: 0;
    }

    > * + * {
      margin-left: .5em;
    }

    #mce-responses {
      margin-left: 0;
    }

    input {
      text-align: initial;
    }
  }
}
