.social-profile {
  margin-top: 0.5em;
  display: flex;
  justify-content: center;

  a, button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5em;
    font-weight: 600;
  }

  svg {
    width: 1rem;
    fill: #fff;
  }

  .twitter {
    color: #fff;
    background-color: #1DA1F2;
    border-color: #1DA1F2;

    &:hover {
      color: #fff;
      background-color: darken($color: #1DA1F2, $amount: 8);
      border-color: darken($color: #1DA1F2, $amount: 8);
    }
  }

  .facebook {
    color: #fff;
    background-color: #4267b2;
    border-color: #4267b2;

    &:hover {
      color: #fff;
      background-color: #365899;
      border-color: #365899;
    }
  }

  .discord {
    color: #fff;
    background-color: #7289DA;
    border-color: #7289DA;

    &:hover {
      color: #fff;
      background-color: lighten($color: #7289DA, $amount: 5);
      border-color: lighten($color: #7289DA, $amount: 5);
    }
  }

  .github {
    color: #fff;
    background-color: #171515;
    border-color: #171515;

    &:hover {
      color: #fff;
      background-color: lighten($color: #171515, $amount: 20);
      border-color: lighten($color: #171515, $amount: 20);
    }
  }
}

@include media-breakpoint-up(lg) {
  .social-profile {
    justify-content: initial;
  }
}
