.social-profile {
  margin-top: 0.5em;
  display: flex;
  justify-content: center;

  a, button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5em;
    width: 100%;
  }

  a:last-child, button:last-child {
    margin-right: 0;
  }

  svg {
    width: 1.25rem;
    fill: #fff;
  }

  .twitter {
    color: #fff;
    background-color: #1DA1F2;
    border-color: #1DA1F2;

    &:hover {
      color: #fff;
      background-color: darken($color: #1DA1F2, $amount: 8);
      border-color: darken($color: #1DA1F2, $amount: 8);
    }
  }

  .facebook {
    color: #fff;
    background-color: #4267b2;
    border-color: #4267b2;

    &:hover {
      color: #fff;
      background-color: #365899;
      border-color: #365899;
    }
  }
}

@include media-breakpoint-up(lg) {
  .social-profile {
    justify-content: initial;
  }
}
