@include media-breakpoint-up(xl) {
  .tiles-menu {
    // position: static;

    .dropdown-menu.show {
      display: flex;
    }

    .cards {
      flex-direction: row;
      padding-left: 1em;
      padding-right: 1em;
      padding-top: 1em;
      padding-bottom: 1em;

      & > .card {
        margin-left: 1em;
      }

      & :first-of-type {
        margin-left: 0;
      }

      .card {
        margin-bottom: 0;

        &:last-child {
          margin-bottom: 0;
        }

        &.card-width-full {
          flex-basis: initial;
          width: 100%;
        }

        &.card-width-half {
          flex-basis: calc(50% - .5em);
        }

        a {
          height: 100%;
          display: flex;
          align-items: center;
          transition: $btn-transition;

          &:hover,
          &:focus {
            color: $primary-alt !important;
          }

          .card-body {
            display: flex;
            flex-direction: column;
            align-items: center;

            svg.bi {
              font-size: 1.8em;
              margin-bottom: .25em;

              &.bi-box-arrow-up-right {
                font-size: inherit;
                vertical-align: middle;
              }
            }

            .card-title {
              text-align: center;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}
