.tiles {
  .cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    .card {
      margin-bottom: 1em;
      justify-content: center;

      a {
        .card-body {
          display: flex;
          flex-direction: column;
          align-items: center;

          svg.bi {
            font-size: 1.8em;
            margin-bottom: .25em;
          }

          .card-title {
            text-align: center;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.tiles-2 .card {
  flex-basis: calc(50% - .5em);
}

.tiles-3 .card {
  flex-basis: calc(33% - 1em);
}

@include media-breakpoint-up(lg) {
  .tiles {
    .cards {
      flex-direction: row;
    }
  }

  .tiles-2 .card {
    max-width: 50%;

    &:nth-child(even) {
      margin-left: 1em;
    }
  }

  .tiles-3 .card {
    max-width: 33%;
    margin-left: 1em;

    &:nth-child(3n-2) {
      margin-left: 0;
    }
  }
}
