.tiles {
  .cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    // when supported in flexbox on every browser (currently 2020-06 only firefox), set column-gap and remove any margin
    // column-gap: 1em;

    .card {
      margin-bottom: 1em;
      justify-content: center;
      flex-grow: 1;
      flex-basis: calc(33% - 1em);

      &.card-width-full {
        flex-basis: initial;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
      }

      &.card-width-half {
        flex-basis: calc(50% - .5em);
        margin-left: 0;
      }

      a {
        .card-body {
          display: flex;
          flex-direction: column;
          align-items: center;

          svg.bi {
            font-size: 1.8em;
            margin-bottom: .25em;
          }

          .card-title {
            text-align: center;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .tiles {
    .cards {
      flex-direction: row;

      .card {
        margin-left: 1em;

        &:first-child {
          margin-left: 0;
        }

        &.card-width-half {
          margin-left: 0;

          & + .card-width-half {
            margin-left: 1em;
          }

          & + .card:not(.card-width-half) {
            margin-left: 0;
          }
        }

        &.card-width-full + .card {
          margin-left: 0;
        }

        &.card-width-auto + .card-width-auto + .card-width-auto + .card-width-auto {
          &:nth-child(4) {
            margin-left: 0;
          }
        }
      }
    }
  }
}
