.top-btn {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  height: 3.5em;
  width: 3.5em;
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  z-index: 99;
  background-color: $white;
  border-color: $white;

  svg {
    fill: #5f6368;
  }

  @include media-breakpoint-up(lg) {
    bottom: 5rem;
    right: 5rem;
  }
}
