svg.bi {
  height: 1em;
  width: 1em;
  vertical-align: text-bottom;

  &.bi-box-arrow-up-right {
    vertical-align: baseline;
    margin-left: .3em;
    margin-bottom: -.1em;
  }

  &.bi-file-earmark-text {
    vertical-align: sub;
  }

  &.bi-chevron-left {
    margin-bottom: 0.1em;
  }
}

.dropdown-toggle {
  &::after {
    transition: transform ease-in-out .15s;
  }

  &[aria-expanded=true]::after {
    transform: rotate(-180deg);
  }
}

.footer-main {
  svg.bi {
    &.bi-envelope {
      font-size: 1.5em;
      vertical-align: text-top;
      margin-right: .1em;
    }

    &.bi-heart-fill {
      font-size: 1.5em;
      vertical-align: text-top;
      margin-right: .1em;
    }
  }
}
