header .container-fluid,
.nav-main .container-fluid,
main .container-fluid,
footer .container-fluid {
  max-width: map-get($container-max-widths, "xl");
}

main {
  flex-grow: 1;
  margin-top: 3.5rem;
  margin-bottom: 5em;
}
