b, strong {
  font-weight: 600;
}

a.abbr {
  color: inherit;
  text-decoration: underline dotted;
  cursor: help;
}

/*
p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
  margin-top: 2.5rem;
}

dl + h1,
dl + h2,
dl + h3,
dl + h4,
dl + h5,
dl + h6 {
  margin-top: 2.5rem;
}

ul + h1,
ul + h2,
ul + h3,
ul + h4,
ul + h5,
ul + h6 {
  margin-top: 2.5rem;
}

article {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1rem;
  }
}

.article {
  h1 {
    font-weight: 300;

    &:first-child {
      text-align: center;
      font-weight: initial;
    }
  }

  h2 {
    font-size: 1.06rem;
    font-weight: 600;
  }

  h3 {
    font-size: 1.06rem;
    font-style: italic;
  }
}

.mentions-legales {
  h1 {
    font-weight: 300;

    &:first-of-type {
      font-weight: initial;
    }
  }

  h2 {
    font-size: 1.25rem;
  }
}
*/
