b, strong {
  font-weight: 600;
}

a:hover {
  text-decoration: none;
}

a.abbr {
  color: inherit;
  text-decoration: underline dotted;
  cursor: help;
}

.page-title,
.page-subtitle {
  text-align: center;
  // display-4 (no font-size on mobile):
  font-weight: 300;
  line-height: 1.2;
}

.article {
  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;
    font-weight: 600;
    font-variant: small-caps;
  }

  h4 {
    font-size: 1rem;
    font-style: italic;
  }

  h5 {
    font-size: 1rem;
    color: $secondary;
  }

  h6 {
    font-size: 1rem;
  }

  @for $i from 1 through 6 {
    h#{$i} {
      margin-top: 2.5rem;

      &:first-of-type {
        margin-top: initial;
      }
    }
  }

  @for $i from 1 through 6 {
    h#{$i} + h#{$i + 1} {
      margin-top: initial;
    }
  }
}

@include media-breakpoint-up(lg) {
  .page-title {
    font-size: 3.5rem;
  }

  .page-subtitle {
    font-size: 2rem;
  }
}
