b, strong {
  font-weight: 600;
}

a:hover {
  text-decoration: none;
}

a.abbr {
  color: inherit;
  text-decoration: underline dotted;
  cursor: help;
}

.article {
  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;
    font-weight: 600;
    font-variant: small-caps;
  }

  h4 {
    font-size: 1rem;
    font-style: italic;
  }

  h5 {
    font-size: 1rem;
    color: $secondary;
  }

  h6 {
    font-size: 1rem;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 2.5rem;

    &:first-child {
      margin-top: initial;
    }
  }
}
