$body-bg: #f8f9fa; /* $gray-100 */
$breadcrumb-divider: var(--breadcrumb-divider);
$enable-responsive-font-sizes: true;
$theme-colors: (
  "primary-alt": #3490dc
);
$primary-alt: map-get($map: $theme-colors, $key: primary-alt);
$border-radius: 0;
$btn-transition: none;
