<footer class="footer">
  <div class="container-fluid footer-main">
    <div>
      <h3>{{ i18n "support-us" }}</h3>
      <a class="btn btn-success btn-block no-external-icon" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=B7WH6CJ4LQH4L"target="_blank" role="button">{{ (resources.Get "icons/heart-fill.svg").Content | safeHTML }} {{ i18n "donate" }}</a>
    </div>
    <div>
      <h3>AlgoNews</h3>
      <p class="lead">{{ i18n "algonews-slogan" }}</p>
      {{ partial "newsletter-form" . }}
    </div>
    <div>
      <h3>{{ i18n "contact-us" }}</h3>
      <a class="btn btn-info no-external-icon" href="mailto:contact@algosphere.org" role="button" target="_blank" style="width: 100%; user-select: text;">{{ (resources.Get "icons/envelope.svg").Content | safeHTML }} contact@algosphere.org</a><br>
      {{ partial "social-profile" . }}
    </div>
  </div>
  <div class="container-fluid footer-sub">
    {{ $currentPage := . }}
      {{ range .Site.Menus.footer }}
        <a class="nav-item nav-link" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
        <span class="dot">•</span>
      {{ end }}
      <div>Logo by <a href="https://www.designevo.com/">DesignEvo</a></div>
  </div>
</footer>
