<header>
  <div class="container-fluid">
    <div class="brand">
      <a href="/">
        <img src="{{ (resources.Get "/images/logo.jpg").RelPermalink }}" width="100" height="99" alt="logo">
      </a>
        <div class="text font-comfortaa">
          <h2>{{ .Site.Title }}</h2>
          <h5>{{ .Site.Params.description }}</h5>
        </div>
    </div>
    <div class="meta">
      <div class="nav-item dropdown">
        <button class="btn btn-light dropdown-toggle" id="navbarLanguageDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons">translate</i> English</button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarLanguageDropdown">
            <a class="dropdown-item" href="#">Français</a>
          </div>
      </div>
      <input class="form-control" type="text" placeholder="Search">
    </div>
  </div>
</header>
