<header class="header">
  <div class="container-fluid">
    <div class="header-brand">
      <a class="brand-image-link" href="{{ "/" | relLangURL }}">
        <img class="brand-image" src="{{ (resources.Get "/images/logo.jpg").RelPermalink }}" width="68.8" height="68.8" alt="logo">
        <div class="brand-text">
          <h2 class="brand-title">{{ .Site.Title }}</h2>
          <h5 class="brand-subtitle">{{ .Site.Params.description }}</h5>
        </div>
      </a>
    </div>
    <div class="header-meta">
      {{ partial "i18n-switcher" . }}
      <input class="form-control" type="text" placeholder="Search">
    </div>
  </div>
</header>
