<!-- dropdown for more than two languages -->
<!-- <div class="btn-group dropdown language-switcher-desktop" aria-label="Language dropdown">
  <button id="navbarLanguageDropdown" class="btn btn-light btn-block dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons">translate</i>{{ .Language.LanguageName }}</button>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarLanguageDropdown">
    {{ range .Translations }}
      <a class="dropdown-item" href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a>
    {{ end }}
  </div>
</div> -->

<!-- toggle between two languages -->
{{ range .Translations }}
  <button class="btn btn-light no-external-icon" onclick="languageSwitcherCookie({{ .Language.Lang }}, {{ .RelPermalink }})"><i class="material-icons">translate</i> {{ .Language.LanguageName }}</button>
{{ end }}
