<nav class="bg-white shadow-sm nav-main navbar navbar-expand-xl navbar-light" aria-label="Main navigation">
  <div class="container-fluid">
    <div class="navbar-brand">
      <a class="brand-image-link" href="{{ "/" | relLangURL }}">
        <img class="brand-image" src="{{ (resources.Get "/images/logo-trans.png").Permalink }}" width="68.8" height="68.8" alt="logo">
        <div class="brand-text">
          <h2 class="brand-title">{{ .Site.Title }}</h2>
          <h5 class="brand-subtitle">{{ .Site.Params.description }}</h5>
        </div>
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Ouvre navigation principale"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <div class="navbar-nav nav-left">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        {{ $URL := .URL | relLangURL }}
        {{ $isCurrent := or (eq $URL $currentPage.RelPermalink) (eq .Identifier $.Section) }}
          <a class="nav-item nav-link{{ if $isCurrent }} active{{ end }}" href="{{ $URL }}">{{ .Name }}{{ if $isCurrent }} <span class="sr-only">(current)</span>{{ end }}</a>
        {{ end }}
      </div>
      <div class="navbar-nav nav-right">
        {{ range .Site.Menus.right }}
        {{ $URL := .URL | relLangURL }}
        {{ $isCurrent := or (eq $URL $currentPage.RelPermalink) (eq .Identifier $.Section) }}
          <a class="btn btn-{{ .Pre }} nav-item no-external-icon" href="{{ $URL }}">{{ .Name }}{{ if $isCurrent }} <span class="sr-only">(current)</span>{{ end }}</a>
        {{ end }}
        {{ partial "language-switcher" . }}
      </div>
    </div>
  </div>
</nav>
