<nav class="nav-main navbar navbar-expand-lg navbar-light bg-white" aria-label="Main navigation">
  <div class="container-fluid">
    <div class="navbar-brand">
      <a class="brand-image-link" href="{{ "/" | relLangURL }}">
        <img class="brand-image" src="{{ (resources.Get "/images/logo.jpg").RelPermalink }}" width="68.8" height="68.8" alt="logo">
        <div class="brand-text">
          <h2 class="brand-title">{{ .Site.Title }}</h2>
          <h5 class="brand-subtitle">{{ .Site.Params.description }}</h5>
        </div>
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Ouvre navigation principale"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <div class="navbar-nav nav-left">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        {{ $langURL := .URL | relLangURL | string }}
        {{ $isCurrent := or (eq .URL $currentPage.RelPermalink) (eq $langURL $currentPage.RelPermalink) (eq .Identifier $.Section) ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
        {{ if .HasChildren }}
            <div class="dropdown">
              <a class="nav-item nav-link dropdown-toggle{{ if $isCurrent }} active{{ end }}" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ .Name }}</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  {{ range .Children }}
                    {{ $langURL := .URL | relLangURL | string }}
                    {{ $isCurrent := or (eq .URL $currentPage.RelPermalink) (eq $langURL $currentPage.RelPermalink) (eq .Identifier $.Section) ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
                    <a class="dropdown-item{{ if $isCurrent }} active{{ end }}" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
                  {{ end }}
                </div>
            </div>
          {{ else }}
            <a class="nav-item nav-link{{ if $isCurrent }} active{{ end }}" href="{{ .URL | relLangURL }}">{{ .Name }}{{ if $isCurrent }} <span class="sr-only">(current)</span>{{ end }}</a>
          {{ end }}
        {{ end }}
      </div>
      <div class="navbar-nav nav-right">
        {{ range .Site.Menus.takepart }}
        <a class="btn btn-primary-alt no-external-icon" href="{{ .URL }}" role="button">{{ .Name }} {{ ( resources.Get "icons/chevron-right.svg").Content | safeHTML }}</a>
        {{ end }}
        {{ partial "language-switcher" . }}



      </div>
    </div>
  </div>
</nav>
