{{ $jquery := resources.Get "scripts/jquery.js" }}
{{ $popper := resources.Get "scripts/popper.js" }}
{{ $bootstrap := resources.Get "scripts/bootstrap.js" }}
{{ $search := resources.Get "scripts/search.js" }}
{{ $misc := resources.Get "scripts/misc.js" }}
{{ $mainJS := slice $jquery $popper $bootstrap $search $misc | resources.Concat "main.js" }}
{{ with or (getenv "PRODUCTION") (getenv "PREVIEW") }}
  {{ $mainJS = $mainJS | minify | fingerprint }}
{{ end }}
<script src="{{ $mainJS.RelPermalink }}" integrity="{{ $mainJS.Data.Integrity }}"></script>
