<script>
  var baseURL = {{ .Site.Home.Permalink }};
  var externalLinkIcon = {{ (resources.Get "icons/box-arrow-up-right.svg").Content | safeHTML | replaceRE "\n\\s*" "" }};
  var anchorIcon = {{ (resources.Get "icons/link-45deg.svg").Content | safeHTML | replaceRE "\n\\s*" "" }};
  var analyticsID = {{ .Site.Params.analytics }};
</script>

{{ $jquery := resources.Get "scripts/jquery.js" }}
{{ $popper := resources.Get "scripts/popper.js" }}
{{ $bootstrap := resources.Get "scripts/bootstrap.js" }}
{{ $misc := resources.Get "scripts/misc.js" }}
{{ $mainJS := slice $jquery $popper $bootstrap $misc | resources.Concat "main.js" }}
{{ with or (getenv "PRODUCTION") (getenv "PREVIEW") }}
  {{ $mainJS = $mainJS | minify | fingerprint }}
{{ end }}
<script src="{{ $mainJS.RelPermalink }}" integrity="{{ $mainJS.Data.Integrity }}" defer></script>

{{ with getenv "PRODUCTION" }}
  <script type="text/javascript" src="/tarteaucitron/tarteaucitron.js"></script>
  <script type="text/javascript">
    tarteaucitron.init({
      "privacyUrl": "", /* Privacy policy url */
      "hashtag": "#cookies", /* Open the panel with this hashtag */
      "cookieName": "tarteaucitron", /* Cookie name */
      "orientation": "bottom", /* Banner position (top - bottom) */
      "showAlertSmall": false, /* Show the small banner on bottom right */
      "cookieslist": true, /* Show the cookie list */
      "adblocker": false, /* Show a Warning if an adblocker is detected */
      "AcceptAllCta": true, /* Show the accept all button when highPrivacy on */
      "highPrivacy": true, /* Disable auto consent */
      "handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */
      "removeCredit": true, /* Remove credit link */
      "moreInfoLink": true, /* Show more info link */
      "useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */
      //"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */
      "readmoreLink": "" /* Change the default readmore link */
    });
  </script>
  <script type="text/javascript">
    tarteaucitron.user.gtagUa = analyticsID;
    tarteaucitron.user.gtagMore = function () { /* add here your optional gtag() */ };
    (tarteaucitron.job = tarteaucitron.job || []).push('gtag');
  </script>
{{ end }}
