<div id="search-nav" class="search dropdown">
  <div class="input-group dropdown-toggle search-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="resultsMenuButtonNav" data-flip="false">
    <label>
      <span class="icon-search" onclick="$('#search-input-nav').focus();">{{ (resources.Get "icons/search.svg").Content | safeHTML }}</span>
      <input id="search-input-nav" class="form-control" type="text" placeholder="{{ i18n "search" }}" onkeydown="onkeypressedNav(event, this);">
    </label>
    <div class="input-group-append">
      <div class="input-group-text icon-clear" aria-label="Clear" role="button" onclick="clearSearchNav()" tabindex="0">{{ (resources.Get "icons/x.svg").Content | safeHTML }}</div>
    </div>
  </div>
  <div class="dropdown-menu search-results" aria-labelledby="resultsMenuButtonNav" id="search-results-nav" onkeydown="onkeypressedNav(event, this);"></div>
</div>
