<div id="search-header" class="search dropdown">
  <div class="input-group dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="resultsMenuButtonHeader" data-flip="false">
    <label>
      <span class="icon-search" onclick="$('#search-input-header').focus();">{{ (resources.Get "icons/search.svg").Content | safeHTML }}</span>
      <input id="search-input-header" class="form-control" type="text" placeholder="{{ i18n "search" }}" onkeydown="onkeypressedHeader(event, this);">
    </label>
    <div class="input-group-append">
      <div class="input-group-text icon-clear" aria-label="Clear" role="button" onclick="clearSearchHeader()">{{ (resources.Get "icons/x.svg").Content | safeHTML }}</div>
    </div>
  </div>
  <div class="dropdown-menu search-results-header" aria-labelledby="resultsMenuButtonHeader" id="search-results-header" onkeydown="onkeypressedHeader(event, this);"></div>
</div>
