<div class="search dropdown" aria-haspopup="true" aria-expanded="false">
  <div class="input-group">
    <label>
      <span class="icon-search">{{ (resources.Get "icons/search.svg").Content | safeHTML }}</span>
      <input id="search-input-header" class="form-control" type="text" placeholder="{{ i18n "search" }}" onkeydown="onkeypressed(event, this);">
    </label>
    <div class="input-group-append">
      <div class="input-group-text icon-clear" aria-label="Clear" role="button" onclick="clearSearchHeader()">{{ (resources.Get "icons/x.svg").Content | safeHTML }}</div>
    </div>
  </div>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#"><h5>Result 1</h5>
      <p class="text-muted">Lorem ipsum <mark>dolor</mark> sit amet consectetur adipisicing elit. Libero similique repellat explicabo accusantium atque commodi ratione dolorem magnam voluptate quod! Architecto dolorem eum deserunt accusantium eius. Ex, a necessitatibus. Quas?</p></a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#"><h5>Result 2</h5>
      <p class="text-muted">Libero similique repellat explicabo accusantium atque <mark>dolor</mark> ratione dolorem magnam voluptate quod! Architecto dolorem eum deserunt accusantium eius. Ex, a necessitatibus. Quas?</p></a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#"><h5>Result 3</h5>
      <p class="text-muted">Lorem ipsum <mark>dolor</mark> sit amet consectetur adipisicing elit. Libero similique repellat explicabo accusantium atque commodi ratione dolorem magnam voluptate quod! Architecto dolorem eum deserunt accusantium eius. Ex, a necessitatibus. Quas?</p></a>
  </div>
</div>
