{{ $mainCSS := resources.Get "scss/app.scss" | resources.ToCSS | resources.PostCSS (dict "use" "autoprefixer") }}
{{ if not .Site.IsServer }}
  {{ $mainCSS = $mainCSS | minify | fingerprint }}
{{ end }}
<link rel="stylesheet" href="{{ $mainCSS.Permalink }}" integrity="{{ $mainCSS.Data.Integrity }}">

<!-- External links -->
<style>
  {{ if .Site.IsServer }}
    a[href*="//"]:not([href*="localhost"]):not(.no-external-icon)::after
  {{ else }}
    a[href*="//"]:not([href*="inwardmovement.github.io"]):not(.no-external-icon)::after
  {{ end }}
    {
      content: 'launch';
      padding-left: 4px;
      position: inline-block;
      font-family: 'Material Icons';
      font-weight: normal;
      font-style: normal;
      font-size: 18px;
      /* display: inline-block; prevent nbsp bypass */
      line-height: 1;
      text-transform: none;
      letter-spacing: normal;
      word-wrap: normal;
      white-space: nowrap;
      direction: ltr;
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
      -moz-osx-font-smoothing: grayscale;
      font-feature-settings: 'liga';
      vertical-align: text-bottom;
    }
</style>
