{{ $mainCSS := resources.Get "styles/index.scss" | resources.ToCSS | resources.PostCSS (dict "use" "autoprefixer") }}
{{ $mainCSS = slice $mainCSS | resources.Concat "main.css" }}
{{ if (getenv "CI") }}
  {{ $mainCSS = $mainCSS | minify | fingerprint }}
{{ end }}
<link rel="stylesheet" href="{{ $mainCSS.Permalink }}" integrity="{{ $mainCSS.Data.Integrity }}">

<!-- External links -->
<style>
  {{ if (getenv "CI") }}
    a[href*="//"]:not([href*="/algosphere.org"]):not([href*="/preview-algo-website.netlify.com/"]):not(.no-external-icon)::after
  {{ else }}
    a[href*="//"]:not([href*="localhost"]):not(.no-external-icon)::after
  {{ end }}
      {
        content: 'launch';
        padding-left: 4px;
        position: inline-block;
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 18px;
        /* display: inline-block; prevent nbsp bypass */
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        -moz-osx-font-smoothing: grayscale;
        font-feature-settings: 'liga';
        vertical-align: text-bottom;
      }
</style>
